
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
<button class="btn btn-primary" onclick="DownloadExcelBlogList()">Download Excel List</button>



<script>

    function DownloadExcelBlogList() {

        window.open("/Admin/AdminBlog/ExportStaticExcelBlogList");

    };

</script>
