
@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogTitleListExcel</h1>

<br />
<button class="btn btn-primary" onclick="DownloadExcelBlogList()">Download Excel List</button>



<script>

    function DownloadExcelBlogList() {

        window.open("/Admin/AdminBlog/ExportDynamicExcelBlogList");

    };

</script>
